.chip-pd {
  padding: 2px 10px;
}

.label-container {
  padding: 10px 0;
  gap: 10px;
  font-size: 12px;
}

.priority-container {
  padding: 10px;
}
.note-card {
  height: fit-content;
}
.card-head > b {
  word-break: break-all;
  color: inherit;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card-content > p {
  word-break: break-all;
  color: inherit;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.date-container {
  font-size: 10px;
}
