.note-editor {
  width: 600px;
  margin: auto;
  margin-top: 5rem;
  color: rgb(39, 37, 37);
}

.title-container {
  padding: 10px;
}

.title:focus {
  outline: none;
}
.title {
  padding: 10px;
  color: #202124;
  font-weight: 500;
  font-size: 1.5rem;
  width: 90%;
  border: none;
  background: none;
}

.text-container {
  padding: 10px;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 10px;
  outline: none;
  color: #202124;
  font-weight: normal;
  font-size: 1.2rem;
  border: none;
}
textarea {
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  background: none;
}
.note-action-container {
  padding: 1.2rem;
}

.select-priority {
  border-radius: 4px;
  padding: 4px;
}

@media only screen and (max-width: 480px) {
  .note-editor {
    width: 300px;
    margin: auto;
    margin-top: 5rem;
    color: rgb(39, 37, 37);
  }
  .note-action-container {
    flex-direction: column;
  }
}
